[Unit]
Description=MIMEDefang
After=syslog.target network.target mimedefang-multiplexor.service
Before=postfix.service sendmail.service
Requires=mimedefang-vendormail-multiplexor.service

[Service]
Type=forking
PIDFile=/run/mimedefang-vendormail.pid
EnvironmentFile=-/etc/sysconfig/mimedefang-vendormail
ExecStart=/usr/libexec/mimedefang-vendormail-wrapper start
ExecReload=/usr/libexec/mimedefang-vendormail-wrapper reload

[Install]
WantedBy=multi-user.target
Also=mimedefang-vendormail-multiplexor.service
